body {
    background-color: #f2f2f2;
}

.logo {
    min-width: 30vw;
    padding: 20px 5px px 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: rgb(61, 59, 59);
    color: white;
}
  
.nav-links li a.active {

}

.btn-tinaBlue {
    background-color: #647C90;

}

.hero-tina {

}

.hero-img {
    filter: blur(px);
    width: 100%;
}

.b2 {
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
}

.icon-links li {
    display: inline;
}

hr {
    height:3px;
    border-width:0;
    background-color:#2c2c2c;
}